@page "{handler?}"
    @using TCNumberInquiry.Web.Model
    @model EditModel
    @{
        ViewData["Title"] = "Home page";
    }

    <link href="https://code.jquery.com/ui/1.12.0-rc.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />

    <h1>User Edit Page</h1>
<br />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserModel!.Id" />
            <div class="form-group">
                <label asp-for="UserModel!.FirstName" class="control-label"></label>
                <input asp-for="UserModel!.FirstName" class="form-control" value="@Model.UserModel.FirstName" />
                <span asp-validation-for="UserModel!.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel!.LastName" class="control-label"></label>
                <input asp-for="UserModel!.LastName" class="form-control" value="@Model.UserModel.LastName"/>
                <span asp-validation-for="UserModel!.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel!.IdentyNumber" class="control-label"></label>
                <input asp-for="UserModel!.IdentyNumber" class="form-control" value="@Model.UserModel.IdentyNumber" />
                <span asp-validation-for="UserModel!.IdentyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel!.BirthDate" class="control-label"></label>
                <input asp-for="UserModel!.BirthDate" class="form-control" value="@Model.UserModel.BirthDate"/>
                <span asp-validation-for="UserModel!.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

